body {
    background-color: #e6e6e6;
    font-size: 0.7em;
    margin: 0;
}

form {
    background-color: #ffffff;
    margin: 0 auto;
    width: 400px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
}

form img {
    width: 100%;
}

fieldset {
    border: none;
}

.form-content {
    padding: 10px;
}



fieldset.user_data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#email_desc::after {
    content: " *";
    color: #b39497;
}


label textarea {
    width: 350px;
    height: 50%;
}
.comments {
    height: 100px;
}

input[type=submit] {
    padding: 10px 20px;
    background-color: #4e6caa;
    color: #ffffff;

    border: none;
    border-bottom: 5px solid #3a4a6e;
}

fieldset.submit span {
    margin-left: 4px;
    color: #8b9aba;
    font-weight: bold;
}



fieldset label {
    width: 170px;
    height: 65px;
    gap: 5px;

    display: flex;
    flex-direction: column;
}

label .desc { 
    color: #8b9aba;
    font-weight: bold;
}

input[type=text], textarea {
    padding: 5px;
}
input[type=text]:focus, textarea:focus {
    outline-color: #acb8da;
}
